
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Dancing Script', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 25px;
  }

  main {
   height: calc(100vh - 70px);
   display: flex;
   background-color: #f9f9f9;
 }
 
.side-bar {
    height: 100%;
    width: 15%;
    background-color: white;
    overflow-y: hidden;
  }
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
  }

.icons {
display: flex;
 flex-direction: row;
 justify-content: center;
  margin: 20px;
}
 
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-link img {
    height: 66px;
    width: 243px;
    margin: 3px;
     }

     .nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
  
    }
  
  
  
  
   .nav-link {
     display: flex;
     text-decoration: none;
   }
  
   .nav-link:hover {
     background: #F5F5F5;
     cursor: pointer;
   }
  
   .nav-link img {
  height: 66px;
  width: 243px;
  margin: 3px;
   }
  

 h1 {
  text-align: center;
   font-size: 50pt;
width: 100%;
margin-left: 60px;
color: #3569A5;
 }


 .content {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', sans-serif;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  
}

  .flags {
display: flex;
flex-direction: row;
justify-content: space-around;
  }

  .bg  {
display: flex;
flex-direction: column;
position: relative;
width: 100%;
  height: 100%;
  background-image: url(bg.png);
  background-size: cover;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
  
  }

.btn {
  border-radius: 80px;
  top: 150px;
  left: 200px;
border: none;
}

.btn2 {
  border-radius: 80px;
  top: 150px;
  right: 200px;
  border: none;
}


p {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25pt;
  margin: 7%;
}

 .nav-link {
   display: flex;
   text-decoration: none;
 }

 .nav-link img {
height: 55px;
width: 150px;
margin: 5px;
 }

.content {
line-height: 1.5;
}

.content img {
margin: 10px;
	float: left;
	}

hr {
  height: 4px;
  background-color: black;
}
 
 article {
 	text-align: left;
 	font-size: 15px;
 }
















